<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Category page</title>
</head>
<body>
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li>
                            <a href="{{ page.url }}"> {{page.title}} </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>
                    There is no pages in category
                </strong>
            {% endif %}
        {% else %}
            <strong>Specified category doesn't exist</strong>>
        {% endif %}
    </div>
    <div> <a href={{back}}>Back</a> </div>
</body>
</html>