{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1> 
        {% if user.is_authenticated %}
            Hello {{user.username}}
        {% else %}
            Hello there stranger
        {% endif %}
         <br /> 
    </h1>
    <div> 
        <h2> Most Liked Categories: </h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li> 
                <a href="{% url 'show_category' category.slug %}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No available categories</strong>
        {% endif %}
    </div>
    <div> 
            <h2> Most Viewed Pages: </h2>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li> 
                    <a href="{{ page.url }}"> {{ page.title }} </a> : {{ page.views }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No available pages</strong>
            {% endif %}
    </div>
    <a href="{% url 'add_category' %}"> Add a new category </a> <br />
    <div>
        <img 
        src="{% static "images/pusheen_std.jpg" %}" 
        alt="Picture of cool cat"
        />
    </div>
{% endblock %}
